@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title" class="alert alert-warning" style="color: #007bff;">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Welcome to BGH Hospital, where compassionate care meets cutting-edge treatment. <br>
    At BGH, we prioritize your health and well-being above all else. 
    Our dedicated team of healthcare professionals is committed to providing personalized care tailored to your unique needs. 
    From routine check-ups to specialized treatments, we offer a comprehensive range of medical services to ensure your optimal health. 
    With state-of-the-art facilities and advanced technology, you can trust us to deliver the highest standard of care. 
    Your journey to better health starts here at BGH Hospital, where excellence in healthcare is our promise to you.</p>
</main>