@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle" style="background-color: #fff3cd; color: #6b6898; ">
        <h1 id="title">BGH Ambulance Management System</h1>
        <p class="lead">
            Efficiently coordinate emergency medical services with our comprehensive platform.
            From dispatch to patient care, streamline operations for swift responses.
            Real-time tracking, employee management, and resource allocation ensure effective and timely assistance.
            Experience reliable ambulance services with us.
        </p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    
</main>